.bibPager {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  @media (min-width: $screen-xs-min) {
    flex-direction: row;
  }
  > i {
    margin-right: 1em;
  }
}
