.bibPager {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  @media (min-width: $screen-xs-min) {
    flex-direction: row;
  }
  > i {
    margin-right: 1em;
  }
}

// main bibliogrpahic display summary

.bib-display-main {
  max-width: 75em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  @media (min-width: $screen-sm-min) {
    flex-flow: row nowrap;
    justify-content: space-around;
    .bibDisplayInfo {
      flex-basis: 60%;
    }
  }
}

.bib-display-main > * {
  text-align: center;
  margin-bottom: 1em;
  @media (min-width: $screen-sm-min) {
    text-align: left;
  }
}

.bibSummary {
  text-align: justify;
}

.bibHolds {
  @include alert-variant($alert-info-bg, $alert-info-border, $alert-info-text);
  display: block;
  margin: ($line-height-computed / 2);
  padding: ($alert-padding / 2);
  border-radius: $alert-border-radius;
}
