.bibPager {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  @media (min-width: $screen-xs-min) {
    flex-direction: row;
  }
  > i {
    margin-right: 1em;
  }
}

// main bibliogrpahic display summary

.bib-display-main {
  max-width: 75em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  @media (min-width: $screen-sm-min) {
    flex-flow: row wrap;
    justify-content: space-around;
    .bibDisplayJacket {
      flex: 0 1 160px;
      margin-top: $line-height-computed * 2;
    }
    .bibDisplayInfo {
      flex-basis: 60%;
    }
    .bib-display-urls {
      flex: 1 1 100%;
      order: 4;
    }
    .bib-display-items {
      flex: 1 1 100%;
      order: 5;
    }
    .navigationRowRecord {
      margin-top: $line-height-computed * 2;
    }
  }
}

.bib-display-main > * {
  text-align: center;
  margin-bottom: 1em;
  @media (min-width: $screen-sm-min) {
    text-align: left;
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
  .bibDisplayInfo {
    padding: 0 1em;
  }
}

.bibSummary {
  text-align: justify;
}

.bibHolds {
  @include alert-variant($alert-info-bg, $alert-info-border, $alert-info-text);
  display: block;
  margin: ($line-height-computed / 2) 0;
  padding: ($alert-padding / 2);
  border-radius: $alert-border-radius;
}

.bib-display-content {
  max-width: 75em;
  margin: 0 auto;
}
