//reset table layout

table.browseScreen,
table.browseScreen table,
table.browseScreen tbody,
table.browseScreen tr,
table.browseScreen td {
    display: block;
}

.briefcit-list {
  max-width: 800px;
  margin: 0 auto;
}

// table.browseScreen tr.browseSuperEntry,
// table.browseScreen tr.browse-jump {
//   flex: 0 0 100%;
// }

.briefcit-item .panel-body {
  display: flex;
  padding: 4px;
  position: relative;
}

.briefcit-num {
  position: absolute;
  top: 8px;
  left: 8px;
  padding: 1px 5px;
  border-radius: 2px;
  background-color: #fff;
  opacity: 0.75;
  font-size: 0.75em;
}

.briefcit-detail {
  flex: 1;
  order: 2;
  .panel-title {
    font-weight: 600;
  }
}

.briefcit-jacket {
  margin-right: 8px;
  width: 70px;
  min-height: 100px;
  order: 1;
  img {
    max-width: 100%;
  }
  @media (min-width: 768px) {
    width: 120px;
    min-height: 170px;
  }
}

.briefcit-item .panel-footer {
  padding: 0;
  background-color: #D9EDF7;
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
  a {
    width: 100%;
  }
  @media (min-width: 480px) {
    flex-flow: row nowrap;
    padding: 4px;
  }
  @media (min-width: 768px) {
    justify-content: flex-end;
  }
}

.secondary-actions {
  display: none;
  @media (min-width: 480px) {
    display: flex;
    a {
      margin-left: 6px;
    }
  }
}
