.modify-patron-info {
  margin: $padding-large-vertical 0;
}

.modify-patron-info + .alert {
  margin-bottom: 0;
}

// .patActions  > li:empty{
//   display: none;
// }


// .account-info {
//   display: flex;
//   flex-direction: column;
//   @media (min-width: $screen-md-min) {
//     flex-direction: row;
//     .patActions {
//       flex: 0 0 245px;
//     }
//     .patfunct {
//       flex: 1;
//     }
//   }
// }

// patfunc table styles
td {
  font-family: $font-family-base;
}

.patfunct {
  margin-bottom: $padding-large-vertical;

  a.btn {
    margin-bottom: $padding-large-vertical;
  }
}
