.patron-actions,
.patron-profile {
  margin-top: 1em;
}

.modify-patron-info {
  margin: $padding-large-vertical 0;
}

// patfunc table styles
td {
  font-family: $font-family-base;
}

.patfunct {
  margin-bottom: $padding-large-vertical;

  a.btn {
    margin-bottom: $padding-large-vertical;
  }
}

//checkout_form pages
.confirmationprompt {
  font-size: 1em;
  > span {
    display: block;
    @media(min-width: $screen-sm-min) {
      display: inline;
      white-space: nowrap;
    }
  }
}
//hold_form pages
.patFuncCancel {
  text-align: left;
}
//fines patfunc-fines pages
.patfunc-fines.table {
  width: auto;
}
.patFuncFinesDetailDateLabel {
  text-transform: lowercase;
  text-align: right;
}
.patFuncFinesEntryTitle,
.patFuncFinesTotalLabel {
  font-weight: 700;
}

.patFuncStatus em,
.patFuncRenewCount {
  display: block;
}
