.patron-actions,
.patron-profile {
  margin-top: 1em;
}

.modify-patron-info {
  margin: $line-height-computed 0;
}

.editpinfo {
  .form-buttons {
    margin-bottom: floor(($line-height-computed * 1.5));
  }
  .btn + .btn {
    margin-left: $padding-base-horizontal;
  }
}

// patfunc table styles
td {
  font-family: $font-family-base;
}

.patfunct {
  margin-bottom: $padding-large-vertical;

  a.btn {
    margin-bottom: $padding-large-vertical;
  }
}

//checkout_form pages
.confirmationprompt {
  font-size: 1em;
  > span {
    display: block;
    @media(min-width: $screen-sm-min) {
      display: inline;
      white-space: nowrap;
    }
  }
}
//hold_form pages
.patFuncCancel {
  text-align: left;
}
//fines patfunc-fines pages
.patfunc-fines.table {
  width: auto;
}
.patFuncFinesDetailDateLabel {
  text-transform: lowercase;
  text-align: right;
}
.patFuncFinesEntryTitle,
.patFuncFinesTotalLabel {
  font-weight: 700;
}

.patFuncStatus em,
.patFuncRenewCount {
  display: block;
}
//preferred searches form
.pref-search {
  tr.patFuncEntry {
    display: flex;
    align-items: baseline;
    flex-direction: row-reverse;
    padding-top: $padding-large-vertical;
  }
  tr.patFuncEntry > td:not(:last-child) {
    padding-left: 1em;
  }
  tr.patFuncEntry > td.patFuncTitle {
    flex-grow: 1;
    font-weight: 600;
  }
}
