main {
  min-height: 60vh;
}

// basic search form

.webpac-form-container {
  display: flex;
}

.webpac-form {
  margin: auto;
  > p {
    margin-top: $line-height-computed / 2;
  }
  .lead{
    text-align: left;
    margin: 0 0 $line-height-computed / 2;
  }
  @media (min-width: $screen-sm-min) {
    text-align: right;
  }
}

.search-submit input+input {
    margin-left: $padding-xs-horizontal;
}
